//Text
$theme-light-text-dark: rgba(12, 70, 107, 1);

// Data table
$theme-light-table-row-hover-color: #eee;
$theme-light-table-row-even-color: #fff;
$theme-light-table-row-odd-color: #f5f6f7;
$theme-light-table-row-hover-color: #eee;

$data-table-header-font-size: 12px;
$data-table-header-font-weight: 400;
$data-table-body-font-size: 14px;
$data-table-body-font-weight: 300;
