apiVersion: v1
kind: Namespace
metadata:
  name: sales-system

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  namespace: sales-system

spec:
  selector:
    matchLabels:
      app: auth

  template:
    metadata:
      labels:
        app: auth

    spec:
      terminationGracePeriodSeconds: 60

      containers:
        - name: auth
          image: auth-image

          ports:
            - name: auth
              containerPort: 6000
            - name: auth-debug
              containerPort: 6010

          readinessProbe: # readiness probes mark the service available to accept traffic.
            httpGet:
              path: /v1/readiness
              port: 6000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 2

          livenessProbe: # liveness probes mark the service alive or dead (to be restarted).
            httpGet:
              path: /v1/liveness
              port: 6000
            initialDelaySeconds: 2
            periodSeconds: 5
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 2

          env:
            - name: GOMAXPROCS
              valueFrom:
                resourceFieldRef:
                  resource: limits.cpu

            - name: AUTH_DB_USER
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: db_user
                  optional: true
            - name: AUTH_DB_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: db_password
                  optional: true
            - name: AUTH_DB_HOST_PORT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: db_hostport
                  optional: true
            - name: AUTH_DB_DISABLE_TLS
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: db_disabletls
                  optional: true

            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: KUBERNETES_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: KUBERNETES_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: KUBERNETES_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName

---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: sales-system

spec:
  selector:
    app: auth
